{
  "apj1":{
    "SOLWRDS-SOLW-central":{
      "Parameters":{
        "Action":"",
        "Account":"apj1-tools",
        "DBName":"solw",
        "DBInstanceIdentifier":"SolarwindsRDS-central",
        "ChangeRecordID":"central"
      }
    }
  },
  "integration":{
    "SOLWRDS-SOLW-test":{
      "Parameters":{
        "Action":"",
        "Account":"integration-tools",
        "DBName":"solw",
        "DBInstanceIdentifier":"SolarwindsRDS-test",
        "ChangeRecordID":"test"
      }
    }
  },
  "uspscc":{
    "SOLWRDS-SOLW-test-1":{
      "Parameters":{
        "Action":"",
        "Account":"uspscc-tools",
        "DBName":"solw",
        "DBInstanceIdentifier":"SolarwindsRDS-test-1",
        "ChangeRecordID":"test"
      }
    }
  }
}