{
  "apj1":{
    "SolarwindsDPA-central":{
      "Parameters":{
        "InstanceType":"r5.xlarge",
        "Action":"",
        "Account":"apj1-tools",
        "Scope":"central",
        "S3ScriptsPath":"AWSInstanceDeployHub/scripts",
        "DiskSize":150
      },
      "CNAME":"solarwinds-central"
    }
  },
  "integration":{
    "SolarwindsDPA-test-5":{
      "Parameters":{
        "InstanceType":"r5.xlarge",
        "Action":"Deploy",
        "Account":"integration-tools",
        "Scope":"spend",
        "S3ScriptsPath":"AWSInstanceDeployHub/scripts",
        "DiskSize":150
      }
    }
  },
  "uspscc":{
    "SolarwindsDPA-test-1":{
      "Parameters":{
        "InstanceType":"r5.xlarge",
        "Action":"",
        "Account":"uspscc-tools",
        "Scope":"spend",
        "S3ScriptsPath":"AWSInstanceDeployHub/scripts",
        "DiskSize":150
      }
    }
  }
}