{
  "apj1":{
    "TravelMiscSQLTL01":{
      "Parameters":{
        "Account":"apj1-travel",
        "Action":"",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForServer":"dbsql-mssql-travellog-01",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "AZ":"zoneA",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"none"
      }
    },
    "OuttaskSNSQL01":{
      "Parameters":{
        "Account":"apj1-front",
        "Action":"",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForServer":"dbsql-mssql-outtasksession",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "AZ":"zoneA",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"outtasksession-db.service.cnqr.tech"
      }
    },
     "OuttaskSNSQL02":{
      "Parameters":{
        "Account":"apj1-front",
        "Action":"",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForServer":"dbsql-mssql-outtasksession",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "AZ":"zoneD",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"outtasksession-db.service.cnqr.tech"
      }
    },
    "SpendMiscSQLCollector01":{
      "Parameters":{
        "Account":"apj1-spend",
        "Action":"",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForServer":"dbsqlmssqlcollector",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "AZ":"zoneC",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"dbsql-mssql-collector"
      }
    },
      "ReportingSQL001":{
      "Parameters":{
        "Account":"apj1-report",
        "Action":"",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForServer":"dbsqlmssqlreporting",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "AZ":"zoneD",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"dbsql-mssql-reporting"
      }
    },
      "SpendImplSQL001":{
      "Parameters":{
        "Account":"apj1-spend",
        "Action":"",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForServer":"dbsqlmssqlimplementation",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "AZ":"zoneA",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"dbsql-mssql-implementation"
      }
    },
      "SpendExpSQLMT001":{
      "Parameters":{
        "Account":"apj1-spend",
        "Action":"",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForServer":"dbsqlmssqlexpenseapjmt001",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "AZ":"zoneC",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"dbsql-mssql-expenseapjmt001"
      }
    },
      "SpendExpSQL001":{
      "Parameters":{
        "Account":"apj1-spend",
        "Action":"",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForServer":"dbsqlmssqlexpenseapjprod001",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "AZ":"zoneD",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"dbsql-mssql-expenseapjprod001"
      }
    },      
      "SpendExpSQL998":{
      "Parameters":{
        "Account":"apj1-spend",
        "Action":"",
        "DiskSizeOfGDrive":"200",
        "DiskSizeOfDDrive":"200",
        "RoleType":"dbsql",
        "NameOfCRecordForServer":"dbsqlmssqlexpenseapjtest998",
        "DiskSizeOfEDrive":"200",
        "DiskSizeOfMDrive":"200",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "AZ":"zoneD",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"200",
        "NameOfCRecordsAdditional":"none"
        }
      }
  },
  "integration":{
    "TestSQLDCP98":{
    "Parameters":{
      "Account":"integration-tools",
      "Action":"Deploy",
      "DiskSizeOfGDrive":"100",
      "DiskSizeOfDDrive":"100",
      "RoleType":"dbsql",
      "NameOfCRecordForServer":"toolssql98",
      "DiskSizeOfEDrive":"100",
      "DiskSizeOfMDrive":"100",
      "BucketName":"integration-dbsql-rpl",
      "SQLVersion":"SQL2019",
      "Environment":"INTEGRATION",
      "AZ":"zoneA",
      "InstanceType":"r5.xlarge",
      "ConfigType":"TESTING-NO-MONITORING",
      "DiskSizeOfFDrive":"100",
      "NameOfCRecordsAdditional":"none"
    }
    }
  },
  "eu2":{
    "SpendExpSQL999":{
    "Parameters":{
      "Account":"eu2-spend",
      "Action":"",
      "DiskSizeOfGDrive":"100",
      "DiskSizeOfDDrive":"100",
      "RoleType":"dbsql",
      "NameOfCRecordForServer":"dbsqlmssqlexpensetst999",
      "DiskSizeOfEDrive":"100",
      "DiskSizeOfMDrive":"100",
      "BucketName":"eu2-dbsql-rpl",
      "SQLVersion":"SQL2019",
      "Environment":"EU2",
      "AZ":"zoneA",
      "InstanceType":"r5.xlarge",
      "ConfigType":"TESTING-ALL",
      "DiskSizeOfFDrive":"500",
      "NameOfCRecordsAdditional":"dbsql-mssql-expensetst999"
      }
    }
  }
}