{
  "apj1":{
    "OuttaskSQL001":{
      "Parameters":{
        "Account":"apj1-travel",
        "Action":"",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForListener":"dbsql-mssql-outtask",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "InstanceType":"r5.2xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"dbsql-mssql-outtaskdataplatform"
      }
    }
  },
  "eu2":{
    "OuttaskSQL099":{
      "Parameters":{
        "Account":"eu2-travel",
        "Action":"",
        "DiskSizeOfGDrive":"200",
        "DiskSizeOfDDrive":"200",
        "RoleType":"dbsql",
        "NameOfCRecordForListener":"dbsql-mssql-outtask-test98",
        "DiskSizeOfEDrive":"200",
        "DiskSizeOfMDrive":"200",
        "BucketName":"eu2-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"EU2",
        "InstanceType":"r5.2xlarge",
        "ConfigType":"TESTING-NO-MONITORING",
        "DiskSizeOfFDrive":"200",
        "NameOfCRecordsAdditional":"dbsql-mssql-outtaskdataplatform-test-98"
      }
    }
  }
}