{
  "apj1":{
    "CTHostSql001":{
      "Parameters":{
        "Account":"apj1-spend",
        "Action":"",
        "AZPair":"AnC",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"200",
        "RoleType":"dbsql",
        "NameOfCRecordForListener":"dbsqlmssqlcthost",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "InstanceType":"r5.2xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"dbsql-mssql-cthost,dbsqlmssqlcthost.service.cnqr.tech,dbsql-mssql-cthostdataplatform"
      }
    },
    "ItinerarySQL101":{
      "Parameters":{
        "Account":"apj1-travel",
        "Action":"",
        "AZPair":"AnC",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForListener":"dbsql-mssql-itinerary-01",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"none"
      }
    },
    "TravelMiscSQL02":{
      "Parameters":{
        "Account":"apj1-travel",
        "Action":"",
        "AZPair":"AnD",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForListener":"dbsql-mssql-misc",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"none"
      }
    },
    "ToolsSQL01":{
      "Parameters":{
        "Account":"apj1-tools",
        "Action":"",
        "AZPair":"CnD",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForServer":"dbsql-mssql-tools",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"dbsql-mssql-sharedservicesdb"
      }
    },
    "SpendMiscSQLC01":{
      "Parameters":{
        "Account":"apj1-spend",
        "Action":"",
        "AZPair":"AnC",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForListener":"dbsqlmssqlcupdb",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"none"
      }
    },
    "ConcurPaySQL01":{
      "Parameters":{
        "Account":"apj1-spend",
        "Action":"",
        "AZPair":"CnD",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForListener":"dbsqlmssqlconcurpay",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"dbsql-mssql-concurpay"
      }
    },
    "CognosDB01":{
      "Parameters":{
        "Account":"apj1-report",
        "Action":"",
        "AZPair":"AnC",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForListener":"cognosdbsqlmssql01",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"none"
      }
    },
    "SpendMiscSQL01":{
      "Parameters":{
        "Account":"apj1-spend",
        "Action":"",
        "AZPair":"AnD",
        "DiskSizeOfGDrive":"500",
        "DiskSizeOfDDrive":"100",
        "RoleType":"dbsql",
        "NameOfCRecordForListener":"dbsqlmssqlmisc",
        "DiskSizeOfEDrive":"500",
        "DiskSizeOfMDrive":"500",
        "BucketName":"apj1-dbsql-rpl",
        "SQLVersion":"SQL2019",
        "Environment":"APJ1",
        "InstanceType":"r5.xlarge",
        "ConfigType":"PRODUCTION",
        "DiskSizeOfFDrive":"500",
        "NameOfCRecordsAdditional":"dbsql-mssql-misc,dbsqlmssqlmisc.service.cnqr.tech"
      }
    }
  },
  "integration":{
    "TestSQLnew2n06":{
    "Parameters":{
      "Account":"integration-tools",
      "Action":"Deploy",
      "DiskSizeOfGDrive":"200",
      "DiskSizeOfDDrive":"200",
      "RoleType":"dbsql",
      "NameOfCRecordForListener":"toolssqltestnew2n06",
      "DiskSizeOfEDrive":"200",
      "DiskSizeOfMDrive":"200",
      "BucketName":"integration-dbsql-rpl",
      "SQLVersion":"SQL2019_Dev",
      "Environment":"INTEGRATION",
      "AZPair":"AnC",
      "InstanceType":"r5.xlarge",
      "ConfigType":"TESTING-NO-MONITORING",
      "DiskSizeOfFDrive":"100",
      "NameOfCRecordsAdditional":"none"
    }
    }
  },
  "eu2":{
    "SpendExpSQL99":{
    "Parameters":{
      "Account":"eu2-spend",
      "Action":"",
      "AZPair":"AnC",
      "DiskSizeOfGDrive":"200",
      "DiskSizeOfDDrive":"200",
      "RoleType":"dbsql",
      "NameOfCRecordForListener":"dbsqlmssqlexpense999",
      "DiskSizeOfEDrive":"200",
      "DiskSizeOfMDrive":"200",
      "BucketName":"eu2-dbsql-rpl",
      "SQLVersion":"SQL2019",
      "Environment":"EU2",
      "InstanceType":"r5.xlarge",
      "ConfigType":"TESTING-NO-MONITORING",
      "DiskSizeOfFDrive":"200",
      "NameOfCRecordsAdditional":"none"
    }
    }
  }
}
