{
   "integration":{
      "MSSQLEC2-DBAWKS-Domain-01":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"INTEGRATION",
            "Action":"ScheduleDeploy",
            "Account":"integration-tools",
            "AZ":"zoneA"
         },
         "CNAME":"DBAWorkstations-INT-01"
      },
      "MSSQLEC2-DBAWKS-Domain-02":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"INTEGRATION",
            "Action":"ScheduleDeploy",
            "Account":"integration-tools",
            "AZ":"zoneA"
         },
         "CNAME":"DBAWorkstations-INT-02"
      },
      "MSSQLEC2-DBAWKS-Domain-03":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"INTEGRATION",
            "Action":"ScheduleDeploy",
            "Account":"integration-tools",
            "AZ":"zoneB"
         },
         "CNAME":"DBAWorkstations-INT-03"
      },
      "MSSQLEC2-DBAWKS-Domain-04":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"INTEGRATION",
            "Action":"ScheduleDeploy",
            "Account":"integration-tools",
            "AZ":"zoneB"
         },
         "CNAME":"DBAWorkstations-INT-04"
      },
      "MSSQLEC2-DBAWKS-Domain-05":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"INTEGRATION",
            "Action":"ScheduleDeploy",
            "Account":"integration-tools",
            "AZ":"zoneC"
         },
         "CNAME":"DBAWorkstations-INT-05"
      },
      "MSSQLEC2-DBAWKS-Domain-test":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"INTEGRATION",
            "Action":"Deploy",
            "Account":"int-tools",
            "AZ":"zoneC"
         },
         "CNAME":"DBAWorkstations-int-test"
      }
   },
   "us2":{
      "MSSQLEC2-DBAWKS-Domain-01":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"US2",
            "Action":"ScheduleDeploy",
            "Account":"us2-tools",
            "AZ":"zoneA"
         },
         "CNAME":"DBAWorkstations-US2-01"
      },
      "MSSQLEC2-DBAWKS-Domain-02":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"US2",
            "Action":"ScheduleDeploy",
            "Account":"us2-tools",
            "AZ":"zoneA"
         },
         "CNAME":"DBAWorkstations-US2-02"
      },
      "MSSQLEC2-DBAWKS-Domain-03":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"US2",
            "Action":"ScheduleDeploy",
            "Account":"us2-tools",
            "AZ":"zoneB"
         },
         "CNAME":"DBAWorkstations-US2-03"
      },
      "MSSQLEC2-DBAWKS-Domain-04":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"US2",
            "Action":"ScheduleDeploy",
            "Account":"us2-tools",
            "AZ":"zoneA"
         },
         "CNAME":"DBAWorkstations-US2-04"
      },
      "MSSQLEC2-DBAWKS-Domain-05":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"US2",
            "Action":"ScheduleDeploy",
            "Account":"us2-tools",
            "AZ":"zoneC"
         },
         "CNAME":"DBAWorkstations-US2-05"
      }
   },
   "eu2":{
      "MSSQLEC2-DBAWKS-Domain-01":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"EU2",
            "Action":"ScheduleDeploy",
            "Account":"eu2-tools",
            "AZ":"zoneA"
         },
         "CNAME":"DBAWorkstations-EU2-01"
      },
      "MSSQLEC2-DBAWKS-Domain-02":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"EU2",
            "Action":"ScheduleDeploy",
            "Account":"eu2-tools",
            "AZ":"zoneA"
         },
         "CNAME":"DBAWorkstations-EU2-02"
      },
      "MSSQLEC2-DBAWKS-Domain-03":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"EU2",
            "Action":"ScheduleDeploy",
            "Account":"eu2-tools",
            "AZ":"zoneC"
         },
         "CNAME":"DBAWorkstations-EU2-03"
      },
      "MSSQLEC2-DBAWKS-Domain-04":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"EU2",
            "Action":"ScheduleDeploy",
            "Account":"eu2-tools",
            "AZ":"zoneA"
         },
         "CNAME":"DBAWorkstations-EU2-04"
      },
      "MSSQLEC2-DBAWKS-Domain-05":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"EU2",
            "Action":"ScheduleDeploy",
            "Account":"eu2-tools",
            "AZ":"zoneB"
         },
         "CNAME":"DBAWorkstations-EU2-05"
      }
   },
   "apj1":{
      "MSSQLEC2-DBAWKS-Domain-01":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"APJ1",
            "Action":"ScheduleDeploy",
            "Account":"apj1-tools",
            "AZ":"zoneA"
         },
         "CNAME":"DBAWorkstations-APJ1-01"
      },
      "MSSQLEC2-DBAWKS-Domain-02":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"APJ1",
            "Action":"ScheduleDeploy",
            "Account":"apj1-tools",
            "AZ":"zoneD"
         },
         "CNAME":"DBAWorkstations-APJ1-02"
      },
      "MSSQLEC2-DBAWKS-Domain-03":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"APJ1",
            "Action":"ScheduleDeploy",
            "Account":"apj1-tools",
            "AZ":"zoneD"
         },
         "CNAME":"DBAWorkstations-APJ1-03"
      },
      "MSSQLEC2-DBAWKS-Domain-04":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"APJ1",
            "Action":"ScheduleDeploy",
            "Account":"apj1-tools",
            "AZ":"zoneA"
         },
         "CNAME":"DBAWorkstations-APJ1-04"
      },
      "MSSQLEC2-DBAWKS-Domain-05":{
         "Parameters":{
            "InstanceTypeParameter":"r5.xlarge",
            "Environment":"APJ1",
            "Action":"ScheduleDeploy",
            "Account":"apj1-tools",
            "AZ":"zoneC"
         },
         "CNAME":"DBAWorkstations-APJ1-05"
      }
   }
}
